<div class="image-container">

  <a
    href="{{ include.url }}"
    target="_blank"
    rel="noopener noreferrer"
  >

    <img
      src="{{ '/assets/img/' | append: include.image | relative_url }}"
      alt="{{ include.text | default: 'Image' }}"
      class="image"
    >

    <div class="overlay">
      <div class="text">

        {% if include.text %}
          {{ include.text }}
        {% else %}
          View Demo
        {% endif %}

        <i class="fa-solid fa-arrow-right" aria-hidden="true"></i>

      </div>
    </div>

  </a>

</div>

