{% for project in site.data.settings.projects %}
      <a class="project-link" href="{{ site.baseurl }}/{{ project.file }}">
        <div class="thumb-unit"
             data-folder="{{ site.baseurl }}/projects/{{ project.folder }}"
             style="background-image: url('{{ site.baseurl }}/assets/img/projects/{{ project.folder }}/thumb.jpeg');">
          <div class="thumb-overlay">
            <strong>
              {{ project.name }}
              <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </strong>
          </div>
        </div>
      </a>
    {% endfor %}
  </div>
</section>
